<div class="ng-table-pager list-pager">
    <div class="row pager-content">
        <div class="col-md-3 pager-section">
            <div>
                <span>{{ 'pagination.showing' | translation }} {{ getCurrentLabel() }}</span>
            </div>
        </div>
        <div class="col-md-6 pager-section">
            <ngb-pagination class="pager-pages"
                [collectionSize]="totalItems"
                [(page)]="paging.page"
                [boundaryLinks]="true"
                [pageSize]="paging.pageSize">

                <ng-template ngbPaginationPages>
                    <div class="d-flex flex-nowrap px-2">
                        <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
                        <input
                            #i
                            type="text"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            class="form-control custom-pages-input"
                            id="paginationInput"
                            [value]="paging.page"
                            (keyup.enter)="selectPage(i.value)"
                            (blur)="selectPage(i.value)"
                            (input)="formatInput($any($event).target)"
                            aria-labelledby="paginationInputLabel paginationDescription"
                            style="width: 2.5rem"
                        />
                        <span id="paginationDescription" class="col-form-label text-nowrap px-2"> {{ 'pagination.of' | translation }} {{totalPages}}</span>
                    </div>

                </ng-template>
            </ngb-pagination>

        </div>
        <div class="col-md-3 pager-section">
            <div ngbDropdown placement="bottom-right" class="pull-right">
                <button type="button" class="btn btn-dropdown dropdown-toggle" ngbDropdownToggle>
                    {{paging.pageSize}}&nbsp;{{ 'pagination.recordsPerPage' | translation }}
                </button>

                <ul ngbDropdownMenu class="size-options">
                    <li (click)="changeSize(limit)" ngbDropdownItem *ngFor="let limit of limits"
                        [ngClass]="{'active': limit === paging.pageSize}">
                        <a>{{limit}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
