<div *ngIf="$page as page">
    <div class="row">
        <div class="action-menu col-6">
            <button mat-flat-button color="primary" (click)="onCreate()">
                <mat-icon>add</mat-icon>
                {{ 'table.action.create' | translation }}
            </button>
        </div>

        <mat-paginator class="col-6"
                       (page)="onPagingChange($event)"
                       [length]="page.totalEntries"
                       [pageSize]="paging.size"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]="pageSizes"
                       [pageIndex]="paging.page">
        </mat-paginator>
    </div>


    <table mat-table [dataSource]="page.data" multiTemplateDataRows class="mat-elevation-z4 list-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="clickable">
                <div class="row sort-header">
                    <span class="col-9 th-label">{{ 'table.label.name' | translation }}</span>
<!--                    <span class="col-3 th-sort" [ngClass]="{'text-suppressed': !isSortedBy('name')}">-->
<!--                        <mat-icon>{{ getSortIcon('name') }}</mat-icon></span>-->
                </div>
            </th>
            <td mat-cell class="row-column" *matCellDef="let room">
                <span>{{room.name}}</span>
            </td>
        </ng-container>

        <!-- Capacity Column -->
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef class="clickable">
                <div class="row sort-header">
                    <span class="col-9 th-label">{{ 'other.rooms.capacity' | translation }}</span>
<!--                    <span class="col-3 th-sort" [ngClass]="{'text-suppressed': !isSortedBy('capacity')}">-->
<!--                        <mat-icon>{{ getSortIcon('start') }}</mat-icon></span>-->
                </div>
            </th>
            <td mat-cell class="row-column" *matCellDef="let room">
                <span>{{room.capacity}}</span>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell class="cell-end" *matHeaderCellDef>{{ 'table.action.label' | translation }}</th>
            <td mat-cell class="cell-end" *matCellDef="let room">
                <span class="btn-icon-group">
                    <button type="button" class="btn btn-accent btn-icon" (click)="onEdit(room.id)">
                        <mat-icon>edit</mat-icon></button>

                    <button type="button" class="btn btn-warn btn-icon" (click)="onDelete(room.id)">
                        <mat-icon>delete</mat-icon></button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row class="table-row" *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>
