<div class="form-modal minimal-modal">
    <div mat-dialog-content class="form-modal-content">
        <div class="row row-centered">
            <span class="col-10 form-title">{{ 'other.rooms.modal.' + (isNew()? 'create': 'edit') | translation }}</span>
            <span class="col-2 form-close">
                <button type="button" class="btn btn-blank btn-icon" (click)="close()">
                    <mat-icon>clear</mat-icon>
                </button>
            </span>
        </div>

        <div class="my-3">
            <mat-divider></mat-divider>
        </div>

        <div class="row">
            <mat-form-field class="col-6">
                <mat-label>{{ 'table.label.name' | translation }}</mat-label>
                <input matInput type="text" [(ngModel)]="inner.name">
            </mat-form-field>

            <mat-form-field class="col-6">
                <mat-label>{{ 'other.rooms.capacity' | translation }}</mat-label>
                <input matInput type="number" [(ngModel)]="inner.capacity">
            </mat-form-field>
        </div>


        <div class="list-btn-group" style="margin-top: 0;">
            <button class="list-btn" mat-raised-button color="primary" (click)="submit()" >{{ 'label.save' | translation }}</button>
            <button class="list-btn" mat-raised-button color="warn" (click)="close()">{{ 'label.cancel' | translation }}</button>
        </div>
    </div>
</div>
