<div class="row" *ngIf="$periods as periods">
    <span class="col-10">{{ title | translation }}:
        <mat-form-field class="period-picker-simple" appearance="outline">
            <mat-select [(ngModel)]="selectedPeriod" (ngModelChange)="onPeriodChange()">
                <mat-option *ngFor="let period of periods" [value]="period.id">
                    {{ period.name | translation }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>

    <span class="col-2 pull-right" *ngIf="isStudentFunc()">
        <button type="button" class="btn btn-blank btn-icon" [matMenuTriggerFor]="menu"
            matTooltip="{{ 'users.action.permission.new' | translation }}"><mat-icon>add</mat-icon></button>

            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngFor="let course of unassignedCourses" (click)="addNewPermission(course.id)">
                    {{ course.name | translation }}</button>
            </mat-menu>
    </span>
</div>

<div class="row" *ngIf="!canInteract()">
    <mat-chip-set>
        <mat-chip *ngFor="let course of assignedCourses" (removed)="removePermission(course.id)">
            {{ course.name | translation }} {{ 'label.in' | translation}} {{ getPeriodLabel(course.periodId) | translation}}
            <button matChipRemove><mat-icon>cancel</mat-icon></button>
        </mat-chip>
    </mat-chip-set>
</div>

<div class="row" *ngIf="canInteract()">
    <table mat-table [dataSource]="assignedCourses">
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> {{ 'label.courses' | translation }}</th>
            <td mat-cell *matCellDef="let course"> {{ course.name | translation }} </td>
        </ng-container>

        <ng-container matColumnDef="permissions">
            <th mat-header-cell *matHeaderCellDef> {{ 'user.course.permissions' | translation }}</th>
            <td mat-cell *matCellDef="let course;">
                <mat-button-toggle-group *ngIf="isStudentFunc()">
                    <mat-button-toggle class="toggle-icon-button confirm"
                                       [checked]="isState(course.id, ACTIVE)"
                                       (click)="setState(course.id, ACTIVE)"
                                       matTooltip="{{ 'users.state.active' | translation }}">
                        <mat-icon>check_circle_outline</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="toggle-icon-button warning"
                                       [checked]="isState(course.id, PENDING)"
                                       (click)="setState(course.id, PENDING)"
                                       matTooltip="{{ 'users.state.pending' | translation }}">
                        <mat-icon>access_time</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="toggle-icon-button decline"
                                       [checked]="isState(course.id, DENIED)"
                                       (click)="setState(course.id, DENIED)"
                                       matTooltip="{{ 'users.state.denied' | translation }}">
                        <mat-icon>highlight_off</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <mat-button-toggle-group>
                    <mat-button-toggle class="toggle-icon-button confirm"
                                       [checked]="isRole(course.id, VIEWER)"
                                       (click)="setRole(course.id, VIEWER)"
                                       matTooltip="{{ 'users.role.viewer' | translation }}">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="isStudentFunc()" class="toggle-icon-button confirm"
                                       [checked]="isRole(course.id, ATTENDEE)"
                                       (click)="setRole(course.id, ATTENDEE)"
                                       matTooltip="{{ 'users.role.attendee' | translation }}">
                        <mat-icon>school</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="isStudentFunc()" class="toggle-icon-button confirm"
                                       [checked]="isRole(course.id, EVALUATOR)"
                                       (click)="setRole(course.id, EVALUATOR)"
                                       matTooltip="{{ 'users.role.evaluator' | translation }}">
                        <mat-icon>supervisor_account</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle *ngIf="!isStudentFunc()" class="toggle-icon-button confirm"
                                       [checked]="isRole(course.id, OWNER)"
                                       (click)="setRole(course.id, OWNER)"
                                       matTooltip="{{ 'users.role.owner' | translation }}">
                        <mat-icon>settings</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </td>
        </ng-container>

        <ng-container matColumnDef="clear">
            <th mat-header-cell *matHeaderCellDef class="cell-end"></th>
            <td mat-cell *matCellDef="let course" class="cell-end">
                <button type="button" class="btn btn-blank btn-icon" (click)="removePermission(course.id)"
                        matTooltip="{{ 'label.reset' | translation }}"><mat-icon>clear</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['course', 'permissions', 'clear']; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns: ['course', 'permissions', 'clear'];"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell mat-row-nodata" colspan="3">{{ 'table.no.record' | translation }}</td>
        </tr>
    </table>
</div>
