<div ngbAccordion class="filter-block my-4">
    <div ngbAccordionItem="filters" [destroyOnHide]="false">
        <span ngbAccordionHeader>
            <button ngbAccordionButton>{{ 'header.filter' | translation }}</button>
        </span>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <section *ngFor="let filter of filters; let index = index; trackBy: trackByFn" class="filter-row my-2">
                        <app-filter-fulltext *ngIf="isFullText(filter.type)" [(ngModel)]="filters[index]" (ngModelChange)="onChange($event, index)"></app-filter-fulltext>
                        <app-filter-boolean *ngIf="isBoolean(filter.type)" [(ngModel)]="filters[index]" (ngModelChange)="onChange($event, index)"></app-filter-boolean>
                        <app-filter-choice *ngIf="isChoice(filter.type)" [(ngModel)]="filters[index]" (ngModelChange)="onChange($event, index)"></app-filter-choice>

                        <app-filter-range *ngIf="isRange(filter.type)"></app-filter-range>
                    </section>

                    <section class="filter-buttons button-group">
                        <button type="button" class="btn btn-confirm" (click)="onSubmit()">
                            {{ 'label.confirm' | translation }}
                        </button>
                        <button type="button" class="btn btn-cancel" (click)="onClear()">
                            {{ 'label.cancel' | translation }}
                        </button>
                    </section>

                </ng-template>
            </div>
        </div>
    </div>
</div>
