<header>
    <mat-toolbar color="primary" class="navbar">
        <mat-toolbar-row class="navbar-row">
            <div class="menu-col menu-brand">
                <a href="">
                    <img class="brand-logo" src="../../../../assets/img/logo.png" alt="">
                </a>
            </div>

            <div class="menu-col menu-links">
                <div class="menu-links-wrapper" *ngIf="menuItems">
                    <span *ngFor="let item of menuItems" class="menu-link">
                        <a mat-button [routerLink]="item.link">{{ 'menu.label.' + item.name | translation }}</a>
                    </span>
                </div>
            </div>

            <div class="menu-col menu-user">
                <app-user-button></app-user-button>
            </div>

            <div class="menu-col menu-controls">
                <app-language-switch></app-language-switch>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</header>
