<div class="container login-body">
    <main class="login-form m-auto">
        <form [formGroup]="resetForm" (ngSubmit)="submit()">
            <section class="login-logo">
                <img class="mb-4" src="../../../../assets/img/logo.png" alt="" width="72" height="57">
            </section>

            <h1 *ngIf="enterEmail()" class="h3 mb-3 pull-middle margin-bottom">{{ 'labels.password.reset.email' | translate }}</h1>
            <h1 *ngIf="enterNewPass()" class="h3 mb-3 pull-middle margin-bottom">{{ 'labels.password.reset.pass' | translate }}</h1>

            <section *ngIf="enterEmail()">
                <mat-form-field class="full-width margin-bottom" appearance="outline">
                    <mat-label>{{ 'labels.email' | translate }}</mat-label>
                    <input matInput [formControlName]="'email'" required>
                    <mat-error>{{ 'invalid.email' | translate }}</mat-error>
                </mat-form-field>
            </section>

            <section *ngIf="enterNewPass()">
                <mat-form-field class="full-width margin-bottom" appearance="outline" (change)="triggerConfirm()">
                    <mat-label>{{ 'labels.password.new' | translate }}</mat-label>
                    <input matInput [formControlName]="'password'" required [type]="hidePass ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hidePass = !hidePass" class="half-gray"
                    >{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="passwordHasError()">{{ 'invalid.password.format' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{ 'labels.password.confirm' | translate }}</mat-label>
                    <input matInput [formControlName]="'confirm'" required [type]="hideConfirm ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hideConfirm = !hideConfirm" class="half-gray"
                    >{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="confirmHasError()">
                        {{ 'invalid.password.new' | translate }}</mat-error>
                </mat-form-field>
            </section>

            <div class="pull-middle">
                <button mat-raised-button class="mx-1 mat-default half-width" (click)="cancel()">{{ 'labels.return' | translate }}</button>
                <button mat-raised-button class="mx-1 mat-confirm half-width" (click)="submit()">{{ 'labels.confirm' | translate }}</button>
            </div>
        </form>

        <p class="mt-4 mb-2 text-muted pull-middle">&copy; 2022 - {{year}}</p>
    </main>

</div>
