<div class="filter-type filter-options" *ngIf="filter">
    <p>{{ filter.label | translation }}</p>
    <mat-form-field class="filter-choice">
        <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let option of selectedOptions" (removed)="remove(option)" color="accent" highlighted>
                {{option}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <input #choiceInput [formControl]="valueCtrl" class="option-input"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)"/>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let value of filteredValues | async" [value]="value">
                {{value}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
