<div class="container my-2 pd-2">
    <div class="row mb-3">
        <div class="col-6 mt-3">
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="nameInput" name="email" [(ngModel)]="newName"
                       placeholder="email">
                <label for="nameInput">
                    {{'label.email' | translate}}</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="emailInput" name="email" [(ngModel)]="newEmail"
                       placeholder="email">
                <label for="emailInput">
                    {{'label.email' | translate}}</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control rounded-3" id="passwordInput" name="password" [(ngModel)]="newPass"
                       placeholder="password">

                <label for="passwordInput">
                    {{'label.password.new' | translate}}</label>
            </div>

        </div>

        <div class="col-6 mt-3 user-course-permissions">
            <table mat-table [dataSource]="permissions">
                <ng-container matColumnDef="course">
                    <th mat-header-cell *matHeaderCellDef> {{ 'user.course.active' | translate }}</th>
                    <td mat-cell *matCellDef="let permission"> {{ permission.course.name }} </td>
                </ng-container>

                <ng-container matColumnDef="permissions">
                    <th mat-header-cell *matHeaderCellDef> {{ 'user.course.permissions' | translate }}</th>
                    <td mat-cell *matCellDef="let permission; let index = index;">
                        <mat-button-toggle-group *ngIf="!showOwnerRole()">
                            <mat-button-toggle class="toggle-icon-button confirm"
                                               [checked]="isAccepted(index)"
                                               (click)="acceptUser(index)"
                                               matTooltip="{{ 'users.state.active' | translate }}">
                                <mat-icon>check_circle_outline</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle class="toggle-icon-button warning"
                                               [checked]="isPending(index)" [disabled]="true"
                                               matTooltip="{{ 'users.state.pending' | translate }}">
                                <mat-icon>access_time</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle class="toggle-icon-button decline"
                                               [checked]="isDenied(index)"
                                               (click)="denyUser(index)"
                                               matTooltip="{{ 'users.state.denied' | translate }}">
                                <mat-icon>highlight_off</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                        <mat-button-toggle-group>
                            <mat-button-toggle class="toggle-icon-button default-toggle"
                                               [checked]="isViewer(index)"
                                               (click)="setAsViewer(index)"
                                               matTooltip="{{ 'users.role.viewer' | translate }}">
                                <mat-icon>remove_red_eye</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle *ngIf="!showOwnerRole()" class="toggle-icon-button default-toggle"
                                               [checked]="isAttendee(index)"
                                               (click)="setAsAttendee(index)"
                                               matTooltip="{{ 'users.role.attendee' | translate }}">
                                <mat-icon>school</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle *ngIf="!showOwnerRole()" class="toggle-icon-button default-toggle"
                                               [checked]="isEvaluator(index)"
                                               (click)="setAsEvaluator(index)"
                                               matTooltip="{{ 'users.role.evaluator' | translate }}">
                                <mat-icon>supervisor_account</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle *ngIf="showOwnerRole()" class="toggle-icon-button default-toggle"
                                               [checked]="isOwner(index)"
                                               (click)="setAsOwner(index)"
                                               matTooltip="{{ 'users.role.owner' | translate }}">
                                <mat-icon>settings</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['course', 'permissions']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['course', 'permissions'];"></tr>
            </table>
        </div>
    </div>

    <div class="row my-3 pull-right">
        <button type="button" class="btn btn-success" (click)="submitChanges()">{{ 'label.submit' | translate }}</button>
    </div>

</div>
