<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="floatingInput" name="email"
                       placeholder="email"  [formControl]="emailControl">
                <label for="floatingInput">
                    {{'labels.email' | translate}}</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control rounded-3" id="floatingPassword" name="password"
                       placeholder="password" [formControl]="passwordControl">

                <label for="floatingPassword">
                    {{'labels.password' | translate}}</label>
            </div>

        </div>

        <div class="col-6">
            zoznam kurzov
        </div>
    </div>

    <div class="row pull-right">
        <button type="button" class="btn btn-success" (click)="submitChanges()" >Submit Changes</button>
    </div>

</div>
