$buttonBorderRadius: 2px !default;
$backgroundFormColor: #ffffff !default;

.btn {
    //border: none;
    //background: #ffffff;

    &.btn-dropdown {
        border-radius: $buttonBorderRadius;
        background-color: $backgroundFormColor;
        box-shadow: none;
        border: 1px solid transparent;
    }

}

section.button-group {
    margin: 1em 0;
    display: flex;

    > button.btn {
        flex: 1;
        font-size: 0.75em;
        margin: 0 0.5em;
    }
    > button.btn:first-child {
        margin: 0;
    }
}

button.btn.btn-confirm {
    border-color: $confirm;
}
button.btn.btn-clear {
    border-color: $warn;
}
button.btn.btn-cancel {
    border-color: $cancel;
}

mat-button-toggle.users-type {
    width: 6em;
}

.mat-button-toggle-group ~ mat-button-toggle-group {
    margin-left: 1em;
}

.mat-button-toggle.toggle-icon-button {
    button.mat-button-toggle-button {
        height: 2em;
        width: 2em;
        display: flex;
        justify-content: center;

        span.mat-button-toggle-label-content {
            height: 100%;
            display: flex;
            align-items: center;
            color: #3b3a3a;
        }

    }
}

.mat-button-toggle-checked.toggle-icon-button.confirm {
    background-color: $confirm;
}
.mat-button-toggle-checked.toggle-icon-button.decline {
    background-color: $cancel;
}
.mat-button-toggle-checked.toggle-icon-button.warning {
    background-color: $warn;
}
