<div class="container login-body">
    <main class="login-form m-auto">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <section class="login-logo">
                <img class="mb-3" src="../../../../assets/img/logo.png" alt="" width="200" height="auto">
            </section>

            <h1 class="h3 mb-5 pull-middle">{{ 'label.welcome' | translation }}</h1>

            <mat-form-field class="login-field full-width margin-bottom" appearance="outline" (click)="onEnter()">
                <mat-label>{{ 'label.email' | translation }}</mat-label>
                <input matInput [formControl]="emailControl" required>
                <mat-error *ngIf="!failedLogin && emailControl.invalid">{{ 'invalid.email' | translation }}</mat-error>
            </mat-form-field>

            <mat-form-field class="login-field full-width" appearance="outline" (click)="onEnter()">
                <mat-label>{{ 'label.password' | translation }}</mat-label>
                <input matInput [formControl]="passwordControl" required [type]="hidePass ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hidePass = !hidePass" class="half-gray"
                    >{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="!failedLogin && passwordControl.invalid">{{ 'error.field.required' | translation }}</mat-error>
                <mat-error *ngIf="failedLogin">{{ 'invalid.credentials' | translation }}</mat-error>
            </mat-form-field>

            <div class="pull-middle">
                <button mat-raised-button class="mx-1 my-2 mat-confirm full-width">{{ 'label.login.submit' | translation }}</button>
            </div>
            <a class="mx-1" [href]="'reset'">
                {{ 'label.password.reset' | translation }}
            </a>
        </form>

        <p class="mt-4 mb-2 text-muted pull-middle">&copy; 2022 - {{year}}</p>
    </main>
</div>
