[Unit]
Description="LIST-NG Users Module (PORT 8085)"

[Service]
User=listng
WorkingDirectory=/opt/listng
ExecStart=java -Xms256m -Xmx256m -Dserver.port=8085 -jar /opt/listng/listng-user.jar

[Install]
WantedBy=multi-user.target
