<div class="list-body">
    <div class="row flex-end">
        <mat-form-field class="period-picker" appearance="outline" *ngIf="$periods as periods">
            <mat-label>{{ 'label.period' | translation }}</mat-label>
            <mat-select [(ngModel)]="selectedPeriod" (ngModelChange)="onPeriodChange()">
                <mat-option *ngFor="let period of periods" [value]="period.id">
                    {{ period.name | translation }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row pull-middle">
        <ng-container *ngIf="$courses as courses">
            <div class="row course-cards" *ngIf="$permissions">
                <div class="col-lg-4" *ngFor="let course of courses">
                    <app-course-card [course]="course" [permission]="getCoursePermission(course.id)"></app-course-card>
                </div>
            </div>
        </ng-container>
    </div>

</div>

