<div class="form-modal">
    <div mat-dialog-content class="form-modal-content">
        <div class="row row-centered">
            <span class="col-10 form-title">{{ 'users.modal.new' | translation }}</span>
            <span class="col-2 form-close">
                <button type="button" class="btn btn-blank btn-icon" (click)="close()">
                    <mat-icon>clear</mat-icon>
                </button>
            </span>
        </div>

        <div class="my-3">
            <mat-divider></mat-divider>
        </div>

        <div class="row my-1">
            <span class="btn-group">{{ 'role.label' | translation }}:
                <button mat-flat-button class="ml-2" [ngClass]="isSysRole(STUDENT) ? 'btn-secondary' : 'btn-clear'" (click)="setSysRole(STUDENT)" matTooltip="{{ 'role.student.description' | translation }}">
                    <mat-icon>person</mat-icon>{{ 'role.student.label' | translation }}
                </button>
                <button mat-flat-button [ngClass]="isSysRole(TEACHER) ? 'btn-secondary' : 'btn-clear'" (click)="setSysRole(TEACHER)" matTooltip="{{ 'role.teacher.description' | translation }}">
                    <mat-icon>school</mat-icon>{{ 'role.teacher.label' | translation }}
                </button>
                <button [disabled]="!isRoot" mat-flat-button [ngClass]="isSysRole(ROOT) ? 'btn-secondary' : 'btn-clear'" (click)="setSysRole(ROOT)" matTooltip="{{ 'role.root.description' | translation }}">
                    <mat-icon>settings</mat-icon>{{ 'role.root.label' | translation }}
                </button>
            </span>
        </div>

        <div class="row my-1">
            <table mat-table [dataSource]="users" class="table-minimal">
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let user" [ngClass]="{'highlight': isEditing(user.id)}">
                        <span *ngIf="isNotEmpty()">
                            {{ user.id }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'label.name' | translation }}</th>
                    <td mat-cell *matCellDef="let user;" class="input-cell" [ngClass]="{'highlight': isEditing(user.id)}">
                        <input [disabled]="!isEditing(user.id)" type="text" class="textarea" [(ngModel)]="user.name" placeholder="{{ 'label.name' | translation }}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> {{ 'user.email' | translation }}</th>
                    <td mat-cell *matCellDef="let user;" class="input-cell" [ngClass]="{'highlight': isEditing(user.id)}">
                        <input [disabled]="!isEditing(user.id)" type="text" class="textarea" [(ngModel)]="user.email" placeholder="{{ 'label.email' | translation }}">
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="cell-end">
                        <button type="button" class="btn btn-blank btn-icon"
                                matTooltip="{{ 'label.add' | translation }}" (click)="addUser()"><mat-icon>add</mat-icon></button>
                    </th>
                    <td mat-cell *matCellDef="let user" class="cell-end" [ngClass]="{'highlight': isEditing(user.id)}">
                        <button type="button" class="btn btn-blank btn-icon" *ngIf="isNotEmpty()"
                                matTooltip="{{ 'label.edit' | translation }}" (click)="editUser(user.id)"><mat-icon>edit</mat-icon></button>
                        <button type="button" class="btn btn-blank btn-icon" *ngIf="isNotEmpty()"
                                matTooltip="{{ 'label.remove' | translation }}" (click)="deleteUser(user.id)"><mat-icon>clear</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['number', 'name', 'email', 'actions']; sticky: false"></tr>
                <tr mat-row *matRowDef="let row; columns: ['number', 'name', 'email', 'actions'];"></tr>
            </table>
        </div>

        <div class="my-3">
            <app-permission-select  [role]="role" (onChange)="onPermissionChange($event)"></app-permission-select>
        </div>

        <div class="list-btn-group">
            <button class="list-btn" mat-raised-button color="primary" (click)="submit()">{{ 'label.save' | translation }}</button>
            <button class="list-btn" mat-raised-button color="warn" (click)="close()">{{ 'label.cancel' | translation }}</button>
        </div>

    </div>
</div>
