<mat-card class="card course-card mt-2 mb-2 clickable" (click)="onClick()" *ngIf="permission">
    <div class="card-image">
        <img mat-card-image src="../../../../assets/img/card-background.svg" class="card-img-top" alt="course-card-img">
        <div class="card-action">
            <span class="card-action-text">{{ getActionLabel() | translation }}</span>
        </div>
    </div>

    <mat-card-header class="mb-2">
        <mat-card-title>{{ course.name | translation }}</mat-card-title>
        <mat-card-subtitle>{{ 'course.role.' + permission.role | translation }}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
