<div class="page-title">
  <h1>{{ 'labels.courses' | translate }}</h1>
</div>


<div ngbDropdown container="body" class="mt-3 mb-2">
  <button type="button" class="btn list-btn dropdown-btn btn-sm" ngbDropdownToggle>{{ 'period.' + selectedPeriod.ozn | translate }}</button>
  <div ngbDropdownMenu *ngIf="$obdobia">
    <div class="dropdown-scroll">
      <button *ngFor="let period of otherPeriods"
              ngbDropdownItem
              (click)="changePeriod(period.id)">
        {{ 'period.' + period.ozn | translate }}
      </button>
    </div>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem>{{ 'period.' + selectedPeriod.ozn | translate }}</button>
  </div>
</div>

<ng-container *ngIf="$kurzy">
  <div class="row">
    <div class="col-sm-8 col-lg-4" *ngFor="let course of $kurzyy">
      <!--      <app-course-card [course]="course" [routerLink]="'course/' + course.id"></app-course-card>-->
    </div>
  </div>
</ng-container>
