span.card-title {
    font-weight: bold;
}

div.course-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.375rem;
    img {
        height: 145px;
        object-fit: cover;
        transition: opacity 0.6s ease-out;
    }
    div.card-body {
        border-radius: 0 0 0.3rem 0.3rem;
        transition-duration: 0.6s;
    }
}

div.course-card:hover {
    border-radius: 0.375rem;
    img {
        //transition-duration: 0.6s;
        //opacity: 0.6;
    }
    div.card-body {

        transition-duration: 0.6s;
        background-color: $green2;
    }
}
