span.card-title {
    font-weight: bold;
}

.course-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.375rem;

    .card-image {
        height: 145px;
        > img {
            max-height: 145px;
            object-fit: cover;
            transition: opacity 0.6s ease-out;

        }
    }

    .card-image > .card-action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 145px;
        text-align: center;
        display: grid;

        > span {
            justify-self: center;
            align-self: center;
            font-size: 1.2em;
        }
        opacity: 0;
    }
}

.course-card:hover {
    border-radius: 0.375rem;
    .card-image > img {
        transition-duration: 0.6s;
        opacity: 0.6;
    }
    .card-image > .card-action {
        transition-duration: 0.6s;
        opacity: 0.6;
    }
}
