
.mat-confirm {
    background-color: $confirm !important;
}
.mat-warn {
    background-color: $warn !important;
}
.mat-error {
    background-color: $error !important;
}
.mat-default {
    background-color: transparent !important;
}
.mat-text {
    color: black;
}
