
.mat-toolbar-row.navbar-row {
    width: 100%;

    .menu-col {
        display: flex;
        text-align: center;
        justify-content: center;
        vertical-align: center;
    }

    .menu-brand {
        width: 20%;

        a > .brand-logo {
            width: 40%;
            height: auto;
        }
    }

    .menu-links {
        width: 60%;
        > .menu-links-wrapper {
            display: flex;
            text-align: center;
            justify-content: center;
            width: 90%;

            > .menu-link {
                flex: 1;
            }
        }
    }

    .menu-user {
        width: 10%;
        justify-content: flex-end;
    }

    .menu-controls {
        width: 10%;
    }

    .menu-controls:not(:last-child) {
        padding-right: 4em;
    }
}
