/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'variables';
@import 'custom_material';
@import 'tables';
@import 'buttons';
@import 'header';
@import 'forms';
@import 'card';
@import 'home';
@import 'filters';
@import 'modals';

.login-body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main-body-wrapper {
    position: relative;
    margin-top: 3em;
    min-width: 80vw;
    min-height: 80vh;
    width: 80vw;
}

.list-body {
    //background-color: orange;
    background-color: ghostwhite;
    //height: 80vh;
    //width: 80vw;
    padding: 1em;
    border: 1px solid $green2; // FIXME ???
    border-radius: 0.5em;
}

button.list-btn {
    border-color: $green2;

    &:hover {
        border-color: $green3;
    }
}

.pull-middle {
    //text-align: center;
    justify-content: center;
    display: flex;
}

.pull-right {
    //text-align: end;
    //align-content: end;
    //align-items: end;
    //margin-right: 0;
    //margin-left: auto;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.flex-end {
    justify-content: flex-end;
}

.pull-left {
    float: left;
    left: 0;
    right: auto;
}

.clickable {
    cursor: pointer;
}

.half-width {
    width: 50%;
}

.hidden {
    display: none;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.half-width {
    width: 50%;
    max-width: 50%;
}

.margin-bottom {
    margin-bottom: 1em;
}

.half-gray {
    color: $c-gray-light;
}

.em-1 {
    font-size: 1em;
}
.ml-2 {
    margin-left: 2em;
}

@mixin make-margins() {
    @for $i from 1 through 5 {
        .mt-#{$i} {
            margin-top: #{$i}em;
        }
        .ml-#{$i} {
            margin-left: #{$i}em;
        }
    }
}

@include make-margins;

.row-centered {
    display: flex;
    align-items: center;
}
