.modal-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 !important;
}

.modal-body {
    min-height: 10em;
    margin-top: 1.5em;
}

.modal-header {
    border-bottom: 0.1em solid;
    padding-right: 20px;

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        padding: 0;

        opacity: 1;
        color: $c-gray;
        outline: 0;

        border: 0;
        background: none;

        font-size: .875rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;

        &:hover {
            color: #000;
        }
    }
}

.modal-footer {
    border: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .04), 0 -8px 8px rgba(0, 0, 0, .02);
}

.modal-content {
    overflow: hidden;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .04), 0 8px 8px rgba(0, 0, 0, .08);
}

.modal-xs {
    max-width: 400px;
    width: 400px;
}

.modal-md {
    max-width: 600px;
    width: 600px;
}

.modal-lg {
    max-width: 800px;
    width: 800px;
}

.modal-backdrop {
    background: rgba(0, 0, 0, .5);
}

.list-modal {
    overflow: hidden;

    > .list-modal-content {
        height: 65% !important;
        padding-top: 1em;
        overflow: auto;
    }

    > .list-modal-buttons {
        height: 35%;
        justify-content: center;

        > button {
            width: 10em;
        }
        > button:not(:first-child) {
            margin-left: 1em;
        }
    }
}

.confirm-modal {
    width: 35em;
    min-height: 9em;
    max-height: 40em;

    //> .list-modal-content {
    //    height: 65%
    //}
    //
    //> .list-modal-buttons {
    //    height: 35%;
    //}
}

.info-modal {
    width: 35em;
    height: 12em;
}

div.form-modal {
    width: 60vw;


    > div.form-modal-content {
        max-height: 80vh;
    }

    span.form-close {
        display: flex;
        justify-content: flex-end;
    }
}

div.error-modal {
    width: 40vw;
    div.error-close {
        display: flex;
        justify-content: flex-end !important;
    }

    div.error-icon {
        justify-content: center
    }

    .error-modal-icon {
        font-size: 10em;
        width: auto;
        height: auto;
    }

    div.error-title > h1{
        display: flex;
        justify-content: center;
        font-size: 2em;
        font-weight: 600;
    }

    div.error-info > h2{
        display: flex;
        justify-content: center;
        font-size: 1em;
        font-weight: 400;
    }
}
