
.list-pager {
    display: block;
}
.pager-content {
    display: table;
    width:100%;
}
.pager-section {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pager-pages {
    display: flex;
    justify-content: center;
}
.pager-pages > ul {
    margin: 0;
}

// FILTERS
.remove-caret::after {
    display: none !important;
}

div.table-filter {
    display: inline;
}

.filter-menu.dropdown-menu.show {
    margin-top: 1em;
}


table.list-table > tr > th {
    display: inline;
}

div.user-course-permissions {
    max-height: 15em;
    overflow-y: scroll;

    table {
        thead > tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
            height: 2em;
        }

        tbody {
            height: 14em;
            overflow-y: scroll;
        }

        tbody > tr.mat-mdc-row.mdc-data-table__row.cdk-row {
            height: 3.5em;
        }
    }

}

