// FILTERS
.remove-caret::after {
    display: none !important;
}

div.table-filter {
    display: inline;
}

.filter-menu.dropdown-menu.show {
    margin-top: 1em;
}


table.list-table > tr > th {
    display: inline;
}

div.user-course-permissions {
    max-height: 15em;
    overflow-y: scroll;

    table {
        thead > tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
            height: 2em;
        }

        tbody {
            height: 14em;
            overflow-y: scroll;
        }

        tbody > tr.mat-mdc-row.mdc-data-table__row.cdk-row {
            height: 3.5em;
        }
    }

}

.table-row {
    height: 2.5em !important;

    > .mdc-data-table__cell {
        //padding: 0 !important;
    }
}

.cell-middle {
    text-align: center !important;
}

.cell-end {
    text-align: end !important;
    margin-right: 1em;
}

table.list-table {
    margin-bottom: 1em;
}

th > div.sort-header {
    align-items: center;

    .th-sort {
        display: flex;
        justify-content: flex-end;
    }
}

td.mat-row-nodata {
    padding-left: 1em;

}

td.input-cell {

    > input.textarea {
        width: 100%;
        height: 2em;
        border: none;
        background: none;
    }
}

td.highlight {
    background: #e1e1e1;
}

td.input-cell.highlight {
    > input.textarea {
        border: black solid 1px;
    }
}

table.table-minimal {

    tr.mat-mdc-row {
        height: 3em !important;
    }
}
