$green1 : #355125;
$green2 : #4F7836;
$green3 : #8EBD40;
$green4 : #C5DA4B;
$background : #FCFCEC;
$error  : #a80606;

$cancel: #f63b56;
$warn: #ffa500;
$confirm: $green3;
$info: #ffff00;

$c-black: #2b2b2b;
$c-gray: #565858;
$c-gray-light: #A6A7A7;
